# Configuration file
# key = value
quarkus.smallrye-jwt.enabled=false

quarkus.datasource.url=jdbc:postgresql://zzz-postgresql.services.clever-cloud.com:5432/zzz
quarkus.datasource.driver=org.postgresql.Driver
quarkus.datasource.username=xxxx
quarkus.datasource.password=yyyy
quarkus.datasource.max-size=8
quarkus.datasource.min-size=2
quarkus.hibernate-orm.database.generation=drop-and-create
